.choose {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 60px;
    margin: 0;
    &__title {
        padding-left: 18px;
        color: black;
        font-size: 24px;
    }
    &__container {
        display: flex;
        flex-direction: column;
        padding-left: 18px;
        padding-right: 18px;
        padding-top: 30px;
        gap: 20px;
        width: 375px;
        &__list {
           background-color: #f7f7f7;
           display: flex;
           align-items: center;
           border-radius: 20px;
           height: 73px;
           color: black;
           font-weight: 500;
           font-size: 16px;
           border-bottom: 5px solid rgb(229, 229, 229);
           cursor: pointer;
           &:hover {
            background-color: #fce6ff;
            transform: scale(1.02);
            }
        }
        &__number {
            background-color: $colour-primary;
            color: white;
            border-radius: 50%;
            width: 25px;
            margin-left: -10px;
            text-align: center;
            font-size: 15px;
        }
        &__icon {
            color: #989898;
            margin-left: 15px;
            margin-right: 15px;
            font-size: 18px;
            &:hover {
                color: $colour-primary;
            }
        }
    }
}