.choose {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 60px;
    margin: 0;
    &__title {
        position: relative;
        margin-left: -170px;
        color: black;
        @media (min-width: 992px) {
            margin-left: 0;
        }
    }
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 18px;
        padding-right: 18px;
        padding-top: 30px;
        gap: 20px;
        width: 375px;
        @media (min-width: 992px) {
            flex-direction: row;
            width: 100%;
            gap: 50px;
            justify-content: space-between;     
        }
        &__list {
           background-color: #f7f7f7;
           display: flex;
           align-items: center;
           border-radius: 20px;
           height: 73px;
           color: black;
           font-weight: 500;
           font-size: 16px;
           box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
           width: 100%;
           cursor: pointer;
           gap: 20px;
           @media (min-width: 992px) {
            width: 375px;
           }
           &:hover {
            transform: scale(1.02);
           }
        }
        &__list:nth-of-type(3) {
            background-color: #F5EDFF;
            & .icon {
            color: $colour-primary;
            }
           }
        &__number {
            background-color: $colour-primary;
            color: white;
            border-radius: 50%;
            width: 25px;
            margin-left: -10px;
            text-align: center;
            font-size: 15px;
        }
        &__icon {
            color: #989898;
            margin-left: 15px;
            margin-right: 15px;
            font-size: 18px;
        }
    }
}