.restaurant-menu{
    background-color: f6f6f6;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding: 1px 0 60px 0;
    color: black;
    &__container {
        display: flex;
        flex-direction: column;
        &__img {
            min-width: 335px;
            height: 170px;
            object-fit: cover;
        }
        &__text {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            &__title {
                display: flex;
                flex-direction: column;
                font-size: 18px;
                padding-left: 10px;
                padding-top: 10px;
            }
        }
        &__section {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            background-color: white;
            border-radius: 20px;
            border-bottom: 5px solid #d2d0d0;
            &__title {
                background-color: #f6f6f6;
                border-bottom: 2px solid $colour-tertiary;
                color: #8f8f8f;
                font-size: 16px;
                margin-bottom: 5px;
                padding-left: 15px;
            }
            &__container {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                gap: 15px;
                background-color: #f6f6f6;
                padding-right: 5px;
                padding-left: 5px;
                &__card {
                    border-radius: 15px;
                    background-color: white;
                    height: 65px;
                    &__title {
                        padding-left: 10px;
                        font-weight: 500;
                    }
                    &__subtitle {
                        padding-left: 10px;
                        font-size: 16px;
                    }
                    &__price {
                        font-weight: 500;
                        font-size: 14px;
                        margin-left: 980px;
                        
                    }
                }
            }
        }
        &__order {
            padding-top: 40px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            &__button {
                background-color: $colour-primary;
                width: 185px;
                color: white;
            }
        }
    }
}